.App h1 {
  margin: 0.6rem auto;
  text-align: left;
}

.card:hover {
  transform: translateY(-5px);
}

.App h4 {
  color: rgba(115, 115, 115, 1);
}

.products-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 2rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: left;
}

.product img {
  max-width: 100%;
  border-radius: 4px;
}

.prod-price {
  font-weight: bold;
}

.prod-rating {
  color: #ff9800;
}

.product-btn {
  margin-top: 2rem;
  padding: 0.8rem;
  background-color: #fff;
  border: 1px solid rgba(35, 165, 240, 0.349);
  border-radius: 3px;
  color: rgba(35, 166, 240, 1);
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .App {
    display: none;
  }
}
