.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  font-family: montserrat;
  border-bottom: 1px solid #fff;
  height: 58px;
}
.navbar-right,
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left {
  flex: 1;
}

.navbar-right {
  justify-content: flex-end;
  gap: 10px;
}
.logo {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  margin-right: 50px;
}

.nav-menu a {
  margin-right: 20px;
  text-decoration: none;
  color: #737373;
  font-size: 14px;
  font-weight: 700;
}

.nav-menu img {
  width: 10px;
  height: 7px;
  color: #252b42;
}
.nav-menu a:hover {
  color: #000;
}

.nav-icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  color: #23a6f0;
  font-weight: 700;
  gap: 5px;
}
.icons-2 {
  width: 13px;
  height: 13px;
}
.nav-icons .icons {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.icons-3, .icons-4{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .navbar-right,
  .navbar-left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
  }

}